.preview {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.company-header {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.copy-details {
  display: flex;
  align-self: flex-end;
}

.horizontal-divider {
  border: 1px solid black;
  margin: 1px 0px;
  width: 100%;
}

.invoice-header {
  background-color: rgba(0, 0, 0, 0.1);
}

.preview-row {
  display: flex;
  flex: 1;
}

.row-field {
  border: 1px solid black;
  display: flex;
  flex: 1;
  padding: 0px 5px;
}

.field-header {
  min-width: 120px;
  text-align: left;
}

.row-field.bill-to-party, .row-field.ship-to-party {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.table-bordered {
  margin: 0px;
}

.table-bordered, .table-bordered td, .table-bordered th, .table thead th{
  border: 1px solid black;
}

.table-bordered td {
  padding-left: 5px;
  padding-right: 5px;
}
.table thead th{
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  font-weight: 500;
}

.sr-no-cell, .hsn-code-cell, .bundles-cell, .quantity-cell, .rate-cell, 
.taxable-amount-cell, .igst-cell, .total-cell, .total-bundles, .total-quantity,
.total-taxable-amount, .total-igst, .final-total {
  text-align: right;
}

.total-bundles, .total-quantity,
.total-taxable-amount, .total-igst, .final-total {
  font-weight: 700;
}

.product-description-cell {
  text-align: left;
}

.left-section {
  border: 1px solid black;
  border-top: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 2; 
}

.amount-words-header {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  display: flex;
  flex: auto;
  justify-content: center;
  padding: 0px 5px;
}

.amount-words {
  border: 1px solid black;
  display: flex;
  flex: auto;
  justify-content: flex-start;
  padding: 0px 5px;
}

.left-sub-section {
  border: 1px solid black;
  display: flex;
  width: 100%;
}

.left-sub-section-left {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.bank-details-header {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
}

.left-sub-section-right {
  border-left: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
}


.bank-account-no {
  display: flex;
  flex: 1;
}

.sub-section-row-field {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex: 1;
  padding: 0px 5px;
}

.sub-section-field-header {
  min-width: 80px;
  text-align: left;
}

.terms-condition {
  border-right: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  font-weight: 600;
  justify-content: center;
  min-height: 140px;
  padding: 0px 5px;
}

.common-seal {
  border-top: 1px solid black;
  display: flex;
  font-weight: 600;
  justify-content: center;
}

.right-section {
  border: 1px solid black;
  border-left: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.right-section-row-field {
  border-bottom: 1px solid black;
  display: flex;
  padding: 0px 5px;
}

.right-section-field-header {
  border-right: 1px solid black;
  display: flex;
  min-width: 180px;
  text-align: left;
}

.right-section-field-value {
  border-left: 1px solid black;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.signature {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.signature-company {
  font-weight: 600;
}

.authorized-signature {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  font-weight: 600;
}